# control information, like user id, password
# keep the identifiers before "=" when update
login_user = '*****'
login_pw = '*****'
db_username = 'read_tableau'
db_password = 'ypxViOdFuVjP1Y0y3LPi'
wb_name = '"workbook"'
ds_name = '"data source"'


# list of files to be populated to new advertiser's directory from ./3444
# One file name per line, filenames may be quoted, but don't have to.
# Line start with # will be treated as comment and skipped by the script.
# Packaged workbooks still need to be shown here as .twb and must have
# the _Packaged at the end of the file name

TuneBI_v1.7.0_Geography_3444_Packaged.twb
TuneBI_v1.7.0_Retention_3444_Packaged.twb
TuneBI_v1.7.0_LTV_3444_Packaged.twb
TuneBI_v1.7.0_Engagement_3444_Packaged.twb
TuneBI_v1.7.0_Re-Engagement_3444_Packaged.twb
TuneBI_v1.7.0_UserAcquisition_3444_Packaged.twb
TuneBI_v1.7.0_SubLevel_3444_Packaged.twb
TuneBI_v1.7.0_TrafficQuality_3444_Packaged.twb
TuneBI_v1.7.0_ExecutiveSummary_3444_Packaged.twb
#TuneBI_v1.3.0_Sandbox_3444_Packaged.twb
#TuneBI_v1.3.0_SandboxDashboardElements_3444_Packaged.twb
#Sandbox_Cohort_Click-SanCohCli.tds
#Sandbox_UA_Actuals-SanUAAct.tds
#Sandbox_UA_Actuals_w_Geo-SanUAActGeo.tds
#Sandbox_Retention_UA-SanRetUA.tds
#Sandbox_Retention_UA_Geo-SanRetUAGeo.tds
#Sandbox_Cohort_Retarg-SanCohRet.tds
#Sandbox_Cohort_Install-SanCohIns.tds
#Sandbox_Cohort_Install_Geo-SanCohInsGeo.tds